<header>
  <h1>Cv Administrator</h1>
  <nav class="navbar">
    <ul>
      <li><a routerLink="/work-experience">Work Experience</a></li>
      <li><a routerLink="/achievements">Achievements</a></li>
      <li><a routerLink="/education">Education</a></li>
      <li><a routerLink="/lenguages">Lenguages</a></li>
      <li><a routerLink="/interests">Interests</a></li>
      <li><a routerLink="/header">Header</a></li>
      <li><a routerLink="/skills">Skills</a></li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>