<section class="body">
    <section class="card">
      <h1>Create Skill</h1>
      <form #skillForm="ngForm" (ngSubmit)="onSubmit(skillForm)">
        <label for="idSkill">ID</label>
        <input
          type="number"
          id="idSkill"
          name="idSkill"
          [(ngModel)]="idSkill"
          required
        />
  
        <label for="skill">Skill</label>
        <input
          type="text"
          id="skill"
          name="name"
          [(ngModel)]="name"
          required
        />
  
        <button type="submit" [disabled]="!skillForm.valid">Submit</button>
      </form>
    </section>
  
    <section class="card_list">
      <h2>Skills List</h2>
      <div class="card_item" *ngFor="let skill of skills">
        <div class="card_header">
          <h3>{{ skill.id }} - {{ skill.name }}</h3>
        </div>
        <button (click)="deleteSkill(skill.id)">Delete</button>
      </div>
    </section>
  </section>
  